{
    "env": {
        "browser" : true,
        "node": true
    },
    "ecmaFeatures" : {
        "jsx": true
    },
    "rules": {
        "bitwise": true,
        "curly": true,
        "eqeqeq": true,
        "forin": true,
        "immed": true,
        "latedef": true,
        "newcap": true,
        "noarg": true,
        "noempty": true,
        "nonew": false,
        "plusplus": false,
        "regexp": true,
        "undef": true,
        "trailing": true,
        "quotes": [2, "single"],

        "key-spacing": [2, {
            "beforeColon": true,
            "afterColon": true
        }],

        "no-shadow": false,
        "no-use-before-define": false,

        "asi": false,
        "debug": true,
        "global-strict": [2, "always"],
        "smarttabs": true,
        "browser": true,
        "devel": true,
        "jquery": true,
        "node": true,
        "expr": true,
        "no-underscore-dangle": false,

        "indent": [2, 2],
        "brace-style": [2, "stroutstrup", {
            "allowSingleLine" : true
        }],
        "space-after-keywords": [2, "always"],
        "space-before-function-paren": 2,
        "space-before-blocks": 2
    },
    "globals": {
        "$": true,
        "Modernizr": true,
        "jQuery": true,
        "__dirname": true
    }
}
